---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/users/testerfb11/?fields=id,username,first_name,last_name,bio,created_at,counts,image
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '957602188200'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '151'
    body:
      encoding: UTF-8
      string: '{"data": {"username": "testerfb11", "bio": "", "first_name": "Tester",
        "last_name": "tes", "created_at": "2014-10-10T18:52:41", "image": {"60x60":
        {"url": "https://s.pinimg.com/images/user/default_60.png", "width": 60, "height":
        60}}, "counts": {"pins": 1835, "following": 2, "followers": 6, "boards": 18,
        "likes": 9}, "id": "332914734862997577"}}'
  recorded_at: Thu, 12 Jan 2017 11:59:39 GMT
recorded_with: VCR 3.0.3
