---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/boards/?fields=id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image&limit=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '294243009255'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"description": "", "creator": {"username": "gemmorgan",
        "bio": "", "first_name": "Gemma", "last_name": "Palfrey", "created_at": "2012-02-29T04:11:06",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/gemmorgan-1393888576_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 148663, "following": 1643,
        "followers": 7961, "boards": 186, "likes": 98}, "id": "166914867347852620"},
        "url": "https://www.pinterest.com/gemmorgan/drinks/", "created_at": "2012-12-07T10:20:21",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/60x60/5d/9a/e7/5d9ae7fcaacd832ee72c121a1864e9ac.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 883, "collaborators": 0, "followers":
        572}, "id": "166914798628453011", "name": "Drinks"}, {"description": "", "creator":
        {"username": "dcblonde71", "bio": "", "first_name": "Candy", "last_name":
        "Cane", "created_at": "2015-08-16T11:19:47", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/dcblonde71_1439723987_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 63, "following": 2, "followers":
        1, "boards": 7, "likes": 0}, "id": "85990811543546970"}, "url": "https://www.pinterest.com/dcblonde71/dogs/",
        "created_at": "2015-08-26T11:05:17", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/60x60/86/89/f3/8689f37796777ce69456b0e0a7e4d8de.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 45, "collaborators": 0, "followers":
        1}, "id": "85990742824219027", "name": "dogs"}], "page": {"cursor": "Pz9Nakl5TlRvNE5UazVNRGMwTWpneU5ESXhPVEF5TnpvNU1qSXpNemN3TlRVeU5qTXhNRE16TnpZenw0ZjEwYWZkYWRlOGI2MjMzMzk1ZGJiYjllYjBmMWY3NzVjNTg4OTc3ODRlNWJjZTdlMTliN2UyYzQ5Njc4MWY5",
        "next": "https://api.pinterest.com/v1/me/following/boards/?cursor=Pz9Nakl5TlRvNE5UazVNRGMwTWpneU5ESXhPVEF5TnpvNU1qSXpNemN3TlRVeU5qTXhNRE16TnpZenw0ZjEwYWZkYWRlOGI2MjMzMzk1ZGJiYjllYjBmMWY3NzVjNTg4OTc3ODRlNWJjZTdlMTliN2UyYzQ5Njc4MWY5&fields=id%2Cname%2Curl%2Cdescription%2Ccreator%28id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%29%2Ccreated_at%2Ccounts%2Cimage&limit=2"}}'
  recorded_at: Thu, 12 Jan 2017 12:23:19 GMT
recorded_with: VCR 3.0.3
