---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/pins/?fields=id,link,url,creator(id,username,first_name,last_name,bio,created_at,counts,image),board(id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image),created_at,note,color,counts,media,attribution,image&limit=2&query=kitten
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '350172815729'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"attribution": null, "creator": {"username": "shogunpanda",
        "bio": "Senior developer in Ruby on Rails, jQuery, HTML5, CSS3, BootStrap,
        Backbone.JS and others. LARV addicted and nerd on many things. From Molise,
        Italy.", "first_name": "Paolo", "last_name": "Insogna", "created_at": "2012-08-12T06:28:34",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/shogunpanda_1344752914_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 50, "following": 11, "followers":
        9, "boards": 5, "likes": 1}, "id": "559853934835925315"}, "url": "https://www.pinterest.com/pin/559853797412741184/",
        "media": {"type": "image"}, "created_at": "2017-01-12T12:34:56", "note": "Kitten
        streching", "color": "#dbccc2", "link": "https://www.pinterest.com/r/pin/559853797412741184/4878490596204882047/821e013bc067fdf366341a9675b27f9c0d8a6f2cc2bb4da90a20522f46a0f84d",
        "board": {"description": "", "creator": {"id": "559853934835925315"}, "url":
        "https://www.pinterest.com/shogunpanda/foo-1/", "created_at": "2017-01-12T12:20:18",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/60x60/9c/d5/4e/9cd54e9983ce9232c2cfe556b04b7e94.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 4, "collaborators": 0, "followers":
        8}, "id": "559853866116962376", "name": "Foo 1"}, "image": {"original": {"url":
        "https://s-media-cache-ak0.pinimg.com/originals/d8/a7/22/d8a722877a4f2ece02b012ddee6e1685.jpg",
        "width": 680, "height": 411}}, "counts": {"likes": 0, "comments": 0, "repins":
        0}, "id": "559853797412741184"}, {"attribution": null, "creator": {"username":
        "shogunpanda", "bio": "Senior developer in Ruby on Rails, jQuery, HTML5, CSS3,
        BootStrap, Backbone.JS and others. LARV addicted and nerd on many things.
        From Molise, Italy.", "first_name": "Paolo", "last_name": "Insogna", "created_at":
        "2012-08-12T06:28:34", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/shogunpanda_1344752914_60.jpg",
        "width":[...]
