---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/pins/?cursor=b28yfGNhZGY0ZDM1MjlhNjEwNGYzZTAxYTVjNDlkYjE4MDk2MDczNDMyNTc4ZjYyYmM3Zjg3NWU0ZjA1NDYzYTAyMmE=&fields=id,link,url,creator(id,username,first_name,last_name,bio,created_at,counts,image),board(id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image),created_at,note,color,counts,media,attribution,image&limit=50&query=kitten
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '117209953583'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"attribution": null, "creator": {"username": "shogunpanda",
        "bio": "Senior developer in Ruby on Rails, jQuery, HTML5, CSS3, BootStrap,
        Backbone.JS and others. LARV addicted and nerd on many things. From Molise,
        Italy.", "first_name": "Paolo", "last_name": "Insogna", "created_at": "2012-08-12T06:28:34",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/shogunpanda_1344752914_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 50, "following": 11, "followers":
        9, "boards": 5, "likes": 1}, "id": "559853934835925315"}, "url": "https://www.pinterest.com/pin/559853797398871450/",
        "media": {"type": "image"}, "created_at": "2013-10-16T14:56:26", "note": "15
        Cutest Halloween Kittens Of All Time", "color": "#a5895e", "link": "https://www.pinterest.com/r/pin/559853797398871450/4878490596204882047/0c7b72b84b3bff86da406d59eda5375b79c5b5b84ae5f9018243daacfabebcad",
        "board": {"description": "The most stupid things by 9GAG.", "creator": {"id":
        "559853934835925315"}, "url": "https://www.pinterest.com/shogunpanda/9gag/",
        "created_at": "2013-09-02T16:44:49", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/60x60/86/28/87/862887a3bfdd437a0b898571485ff570.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 44, "collaborators": 0, "followers":
        9}, "id": "559853866116513386", "name": "9GAG"}, "image": {"original": {"url":
        "https://s-media-cache-ak0.pinimg.com/originals/50/ce/da/50cedadff449af53afdd106f8d6b9d38.jpg",
        "width": 424, "height": 6177}}, "counts": {"likes": 0, "comments": 0, "repins":
        0}, "id": "559853797398871450"}, {"attribution": null, "creator": {"username":
        "shogunpanda", "bio": "Senior developer in Ruby on Rails, jQuery, HTML5, CSS3,
        BootStrap, Backbone.JS and others. LARV addicted and nerd on many things.
        From Molise, Italy.", "first_name": "Paolo", "last_name": "Insogna", "created_at":
        "2012-08-12T06:28:34", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/shogunpanda_1344752914_60.jpg",
        "width":[...]
