---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/followers/?fields=username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '827691223235'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '146'
    body:
      encoding: UTF-8
      string: '{"data": [{"username": "ges_si", "id": "332773997374651314"}, {"username":
        "angelafangelill", "id": "507077376702722075"}, {"username": "paranoidnick",
        "id": "310326367981972182"}, {"username": "darrellellens", "id": "240872417478576696"},
        {"username": "mnr39pro", "id": "367536156998373911"}, {"username": "messagerie",
        "id": "170011092091670380"}, {"username": "BlobAgency", "id": "89720354984956211"},
        {"username": "dharamgollapudi", "id": "68046781778235617"}, {"username": "wernerbotha17",
        "id": "388998623972577267"}], "page": {"cursor": null, "next": null}}'
  recorded_at: Thu, 12 Jan 2017 11:59:40 GMT
recorded_with: VCR 3.0.3
