---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/boards/491736921752475493/?fields=id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '698185498498'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '125'
    body:
      encoding: UTF-8
      string: '{"data": {"description": "", "creator": {"username": "dderse", "bio":
        "", "first_name": "Daniel", "last_name": "Derse", "created_at": "2012-09-03T13:21:48",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/dderse_1477012877_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 23400, "following": 691, "followers":
        13079, "boards": 37, "likes": 35}, "id": "491736990471948025"}, "url": "https://www.pinterest.com/dderse/woodworking/",
        "created_at": "2012-09-15T14:10:33", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/60x60/8f/a3/01/8fa3011c924838a3afe246419486dde3.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 3423, "collaborators": 0,
        "followers": 7618}, "id": "491736921752475493", "name": "Woodworking"}}'
  recorded_at: Thu, 12 Jan 2017 12:13:19 GMT
recorded_with: VCR 3.0.3
