---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/oauth/inspect
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '441010344100'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
    body:
      encoding: UTF-8
      string: '{"data": {"issued_at": "2017-01-12T11:44:40", "scopes": ["read_public",
        "write_public", "read_relationships", "write_relationships"], "app": {"state":
        "UNKNOWN", "id": 4878490596204882047, "name": "Pinterest Ruby Gem"}, "user_id":
        559853934835925315}}'
  recorded_at: Thu, 12 Jan 2017 11:46:46 GMT
recorded_with: VCR 3.0.3
