---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/oauth/inspect
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - devplatform-devapi-prod-0a01c01e
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '308104637921'
    body:
      encoding: UTF-8
      string: '{"status": "failure", "code": 3, "host": "devplatform-devapi-prod-0a01c01e",
        "generated_at": "Thu, 12 Jan 2017 11:46:46 +0000", "message": "Authorization
        failed.", "data": null}'
  recorded_at: Thu, 12 Jan 2017 11:46:46 GMT
recorded_with: VCR 3.0.3
