---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/likes/?cursor=LT41MjcyNzMwNjg4NTkwMDQwMTA6MnxmYWJkMDlhOGI4MmQ3ZTJmNGZhM2ZjMTQ2Y2UwOTdkZTI2ZTA1NmRjYzZhZWQ3NTJlODFhNjBmNThhYzEwNjkw&fields=id,link,url,creator(id,username,first_name,last_name,bio,created_at,counts,image),board(id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image),created_at,note,color,counts,media,attribution,image&limit=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '288283026869'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"attribution": null, "creator": {"username": "nikkiroselee",
        "bio": "Visual designer & costume maker", "first_name": "Nikki", "last_name":
        "Lee", "created_at": "2011-06-04T00:57:31", "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/nikkiroselee_1464369522_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 24221, "following": 274, "followers":
        1928, "boards": 123, "likes": 273}, "id": "115053102888910923"}, "url": "https://www.pinterest.com/pin/115052965460744443/",
        "media": {"type": "image"}, "created_at": "2016-12-30T00:10:44", "note": "siberian
        cat", "color": "#ffffff", "link": "https://www.pinterest.com/r/pin/115052965460744443/4878490596204882047/b968e1eecc6af710eda70a9c71253b230d7d68ac9da220389ea7faed1d2038af",
        "board": {"description": "", "creator": {"id": "115053102888910923"}, "url":
        "https://www.pinterest.com/nikkiroselee/fauna/", "created_at": "2011-06-04T20:35:18",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/custom_covers/60x60/115053034169435010_1401674506.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 787, "collaborators": 0, "followers":
        223}, "id": "115053034169435010", "name": "Fauna"}, "image": {"original":
        {"url": "https://s-media-cache-ak0.pinimg.com/originals/72/cb/23/72cb2312b6818b97c738bac6e8eb0f29.jpg",
        "width": 460, "height": 290}}, "counts": {"likes": 1, "comments": 0, "repins":
        0}, "id": "115052965460744443"}, {"attribution": null, "creator": {"username":
        "aranzacarlos", "bio": "", "first_name": "aranza", "last_name": "Carlos",
        "created_at": "2015-10-21T00:35:05", "image": {"60x60": {"url": "https://s.pinimg.com/images/user/default_60.png",
        "width": 60, "height": 60}}, "counts": {"pins": 306, "following": 2, "followers":
        9, "boards": 19, "likes": 4}, "id": "30118028666498961"}, "url": "https://www.pinterest.com/pin/3011789123654[...]
