---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/boards/?cursor=b28yfGNhZGY0ZDM1MjlhNjEwNGYzZTAxYTVjNDlkYjE4MDk2MDczNDMyNTc4ZjYyYmM3Zjg3NWU0ZjA1NDYzYTAyMmE=&fields=id,name,url,description,creator(id,username,first_name,last_name,bio,created_at,counts,image),created_at,counts,image&limit=2&query=foo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '723795346982'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"description": "", "creator": {"username": "shogunpanda",
        "bio": "Senior developer in Ruby on Rails, jQuery, HTML5, CSS3, BootStrap,
        Backbone.JS and others. LARV addicted and nerd on many things. From Molise,
        Italy.", "first_name": "Paolo", "last_name": "Insogna", "created_at": "2012-08-12T06:28:34",
        "image": {"60x60": {"url": "https://s-media-cache-ak0.pinimg.com/avatars/shogunpanda_1344752914_60.jpg",
        "width": 60, "height": 60}}, "counts": {"pins": 46, "following": 8, "followers":
        9, "boards": 5, "likes": 1}, "id": "559853934835925315"}, "url": "https://www.pinterest.com/shogunpanda/foo-1/",
        "created_at": "2017-01-12T12:20:18", "image": {"60x60": {"url": null, "width":
        60, "height": 60}}, "counts": {"pins": 0, "collaborators": 0, "followers":
        8}, "id": "559853866116962376", "name": "Foo 1"}], "page": {"cursor": "b280fDgxZTQ0MDVhMjBkODQ2ZWRhYWMxNTg0MjUwNWM1YTI2ODdmOTI0Y2JhN2RlZWRlMDhkMzM5YThkY2ZjMzMyZTA=",
        "next": "https://api.pinterest.com/v1/me/search/boards/?cursor=b280fDgxZTQ0MDVhMjBkODQ2ZWRhYWMxNTg0MjUwNWM1YTI2ODdmOTI0Y2JhN2RlZWRlMDhkMzM5YThkY2ZjMzMyZTA%3D&fields=id%2Cname%2Curl%2Cdescription%2Ccreator%28id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%29%2Ccreated_at%2Ccounts%2Cimage&limit=2&query=foo"}}'
  recorded_at: Thu, 12 Jan 2017 12:20:30 GMT
recorded_with: VCR 3.0.3
