---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/boards/?fields=url&limit=2&query=foo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '540830612423'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '88'
    body:
      encoding: UTF-8
      string: '{"data": [{"url": "https://www.pinterest.com/shogunpanda/foo-3/", "id":
        "559853866116962373"}, {"url": "https://www.pinterest.com/shogunpanda/foo-2/",
        "id": "559853866116962374"}], "page": {"cursor": "b28yfGNhZGY0ZDM1MjlhNjEwNGYzZTAxYTVjNDlkYjE4MDk2MDczNDMyNTc4ZjYyYmM3Zjg3NWU0ZjA1NDYzYTAyMmE=",
        "next": "https://api.pinterest.com/v1/me/search/boards/?cursor=b28yfGNhZGY0ZDM1MjlhNjEwNGYzZTAxYTVjNDlkYjE4MDk2MDczNDMyNTc4ZjYyYmM3Zjg3NWU0ZjA1NDYzYTAyMmE%3D&fields=url&limit=2&query=foo"}}'
  recorded_at: Thu, 12 Jan 2017 12:20:30 GMT
recorded_with: VCR 3.0.3
