---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/interests/?limit=50
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AVP99QpzwII-f1I2p5gyHi8CiCeQFJkDr8dP-JpDs-LEtAAyegAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - d67cb4f
      X-Pinterest-Rid:
      - '314677140195'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '128'
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "923755763075", "name": "cats"}, {"id": "926280143987",
        "name": "puppies"}, {"id": "931927378429", "name": "food"}], "page": {"cursor":
        null, "next": null}}'
  recorded_at: Thu, 12 Jan 2017 12:09:48 GMT
recorded_with: VCR 3.0.3
